<!DOCTYPE html>
<html>
<head>
<center>
	<font color="DodgerBlue" size="5" style="font-family: avenir">
		<body bgcolor="white">
			<h1>BOOKING SUCCESSFUL</h1><br>
			<h2>Your booking details has been added to the database</h2><br>
			<h2>{{ client_name }}</h2><br>
			<title>Add Emp Output</title>
				<form action="http://3.134.115.108:80/" autocomplete="on" method = "GET">

					<button type="submit" style="background: rgb(231, 200, 200); height: 45px; width: 200px; color:rgb(130, 10, 10); font:oblique;">GO BACK</button><br><br>

				</form>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
